
<div class="wrapper">
  <mat-form-field>
    <mat-label>Art der Gefahr</mat-label>
    <mat-select>
      <mat-option *ngFor="let topic of topics" [value]="topic.value">
        {{topic.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <p>
    <mat-form-field>
      <mat-label>Datum der Sichtung</mat-label>
      <input matInput [matDatepicker]="dp3" disabled>
      <mat-hint>TT.MM.JJJJ</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput placeholder="Als ich im Wald spazieren ging..."></textarea>
    </mat-form-field>
  </form>

  <p class="explanation-styling">Lade maximal 3 Fotos hoch, um anderen zu helfen, die Gefahr zu erkennen.</p>

  <button mat-button>
    Bild hochladen
  </button>
</div>
