
<div class="wrapper">
  <mat-form-field>
    <mat-label>Art der Gefahr</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <p>
    <mat-form-field>
      <mat-label>Datum der Sichtung</mat-label>
      <input [max]="today" [(ngModel)]="date" matInput [matDatepicker]="dp3" disabled>
      <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>

  <button mat-button (click)="getLocation()">Finde mich</button>

  <div class="row">
    <div (click)="getCoord($event)" id="hotel_map"></div>
  </div>

  <p style="margin-bottom: 40px; position: relative">Ort der Sichtung: <mat-spinner style="width: 30px; position: absolute; left: 170px; top: -39px" *ngIf="resourcesLoaded === false"></mat-spinner> {{ this.location }}</p>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Beschreibung</mat-label>
      <textarea [(ngModel)]="desc" [ngModelOptions]="{standalone: true}" matInput placeholder="Als ich im Wald spazieren ging..."></textarea>
    </mat-form-field>
  </form>

  <p class="explanation-styling">Du kannst ein Foto machen und hochladen, um anderen zu helfen, die Gefahr zu erkennen.</p>


  <mat-expansion-panel *ngIf="url">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="margin-right: 10px">image</mat-icon> Dein Foto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img style="margin: auto; width: 100%;" [src]="url">
    <button mat-button style="background-color: firebrick" (click)="deleteFile()">Löschen</button>
  </mat-expansion-panel>

  <button mat-button (click)="openDialog()">
    <mat-icon>camera</mat-icon>
    Foto machen
  </button>

  <button class="upload-button" (click)="uploadFile()" mat-button>
    Veröffentlichen
  </button>

  <p style="margin-top: 60px; color: transparent">ll</p>
</div>
